* {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid blue; */
}

html {
  font-size: 18px;
  font-weight: 540;
  background-color: rgb(248, 249, 251);
}

body {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(50, 50, 50, 1);
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(50, 50, 50, 0.7);
}

.icon {
  padding: 0px;
  margin: 0px;
  border: none;
  width: auto;
  height: 0.8em;
}

/* site-header................. */
header {
  box-shadow: 0px 2px 5px rgb(200, 200, 200);
  min-width: max-content;
  background-color: white;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1px 12px;
  max-width: 1250px;
  min-width: max-content;
  margin: 0 auto;
}

.logo-image {
  width: 135px;
  height: 60px;
}

.logo-image img {
  width: auto;
  height: 95%;
}

.site-option {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  place-items: center;
  padding: 10px 20px;
}

.site-option>* {
  box-sizing: border-box;
  height: 100%;
  place-content: center;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
}

.site-option>*:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.log-in {
  border: 2px solid rgb(1, 148, 243);
}

.register {
  background-color: rgb(1, 148, 243);
  color: white;
  font-weight: bold;
}

.register:hover {
  background-color: rgb(102, 98, 228);
  color: white;
}

/* site-main................. */
/* main * {
  border: 1px solid rgb(220, 220, 220);
} */

.content-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1140px;
  margin: 50px auto;
  padding: 0 20px;
  gap: 50px;
}

.left-content {
  padding: 0 2px;
}

.left-content summary {
  list-style: none;
}

.left-content h2,
h3,
h1,
h4 {
  margin: 0.6em 0;
}

.filter-title {
  display: flex;
  justify-content: space-between;
}

.filter-title #title-reset {
  color: rgb(0, 150, 245);
}

.filter {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.filter>div {
  border-bottom: 1px solid rgb(220, 220, 220);
}

details>div {
  margin: 0 0 2rem 0;
}

label {
  display: flex;
  cursor: pointer;
  margin: 0 0 0.5em 0;
}

.checkbox-icon {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.8rem;
  border: 1px solid rgb(113, 163, 193);
  border-radius: 4px;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  user-select: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+.checkbox-icon,
input[type="checkbox"]:checked+.checkbox-title {
  opacity: 1;
  color: #f9f9f9;
  background-color: rgb(1, 152, 253);
}

.checkbox-label {
  margin: 0 0.4rem;
}

.checkbox-label img {
  margin: 0 0.4rem;
  height: 1rem;
}

details {
  display: flex;
  flex-direction: column;
}

details summary {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

details summary img[class="icon"] {
  opacity: 0.8;
  height: 0.5em;
  transition: transform 0.3s;
  transform: rotate(180deg);
}

details[open] img[class="icon"] {
  transform: rotate(0deg);
}

.filter-time label {
  display: inline-block
}

.filter-time .list-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 0.5rem 0.5rem;
  place-items: center;
}

.checkbox-title {
  width: 130px;
  height: auto;
  border-radius: 5px;
  user-select: none;
  font-size: 0.8rem;
  border: 1px solid rgb(109, 191, 184);
  padding: 1em 0 1em 0;
}

.checkbox-title>* {
  text-align: center;
  margin: 0;
  opacity: 0.6;
}

.checkbox-title>h4 {
  font-size: 1rem;
  opacity: 0.9;
}

.slider input {
  /* -webkit-appearance: none; */
  height: 2px;
  width: 100%;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 5px;
}

.filter-facilities .checkbox-label,
.filter-refund .checkbox-label {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 0 0 0.4rem;
}

.filter-facilities .checkbox-label img,
.filter-refund .checkbox-label img {
  margin: 0;
  padding: 0;
}


/* Search box................................. */
/* .right-content * {
  border: 1px solid rgb(220, 220, 220);
} */
.search-box {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    /* lớp tối */
    url('../images/plane-picture.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgb(200, 200, 200);
}

.select-number {
  background-color: white;
  width: 200px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(200, 200, 200);
}

.select-number>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-number .icon {
  display: block;
  width: auto;
  height: 1.5rem;
  padding: 0;
  margin: 0;

}

.select-number button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(1, 152, 253);
  border: none;
  border-radius: 5px;
  background-color: rgba(228, 228, 228, 0.3);
  cursor: pointer;
  transition: all 0.1s ease;
}

.select-number button:active {
  transform: translateY(2px);
  background-color: rgba(1, 152, 253, 0.2);
  color: rgb(1, 102, 200);
}

.select-number h4 {
  color: rgb(107, 114, 119);
}

.select-number input[type="number"] {
  -moz-appearance: textfield;
  width: 4ch;
  height: auto;
  outline: none;
  border: 0;
  background-color: transparent;
  box-shadow: 0 2px 0px rgb(200, 200, 200);
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

.select-number input[type="number"]::-webkit-inner-spin-button,
.select-number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* select-airport */
.select-airport {
  position: relative;
  display: flex;
  color: white;
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1rem;
  gap: 1rem;
}

.airport-input {
  position: relative;
}

.airport-input-icon {
  display: flex;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgb(200, 200, 200);
}

.airport-input-icon input {
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: black;
}

.airport-input-icon img {
  height: 1.5rem;
}

.switch-button {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.25rem;
  position: relative;
  top: 1.2rem;
  box-shadow: 0 2px 5px rgb(200, 200, 200);
}

.switch-button img {
  width: 100%;
  height: auto;
}

.airport-container {
  display: none;
  margin: 5px 0;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(108, 114, 116);
  padding: 8px 16px;
  box-sizing: border-box;
}

.airport-container>p {
  margin: 0.5rem 0;
}

.airport-item {
  display: flex;
}

.airport-item img {
  height: 1rem;
  padding: 10px;

}

.airport-item h4 {
  margin: 0;
  color: #000;
}

.airport-item p {
  font-size: 0.8rem;
  font-weight: 400;
}

.select-time {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1rem;
  column-gap: 5rem;
}

.select-time input[type="date"] {
  font-size: 1rem;
  color: rgb(117, 117, 117);
  padding: 0.5rem;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(200, 200, 200);
  border: none;
}

.select-time label .checkbox-icon {
  background-color: white;
}

.flight-main-info {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
}

.flight-time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flight-additional-info {
  display: grid;
  user-select: none;
}

.flight-additional-info>div {
  border-top: 1px solid rgb(220, 220, 220);
}

.flight-additional-info .slider {
  margin: 0 0 1em 0;
}

.flight-additional-info h3 {
  font-size: 1rem;
}

.flight-additional-info details {
  display: grid;
  pointer-events: none;
}

.flight-additional-info details>summary {
  pointer-events: auto;
  /* bật lại cho summary */
  cursor: pointer;
}

.selected-flight {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.flight {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgb(200, 200, 200);
}

.flight summary {
  color: black;
}

.flight-airline {
  font-size: 1.4rem;
}

.flight-time p {
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.8;
}

.flight-time .time {
  font-size: 1.1rem;
  font-weight: 550;
}

/* đường ngang xuyên qua */
.arrow-through::before {
  content: "";
  position: absolute;
  left: 0;
  /* mở rộng qua trái */
  right: 0;
  /* mở rộng qua phải để còn chừa chỗ mũi tên */
  top: 50%;
  height: 2px;
  background: #111;
  transform: translateY(-50%);
  opacity: 0.8;
}

/* mũi tên ở cuối (bên phải) */
.arrow-through::after {
  content: "";
  position: absolute;
  right: -6px;
  /* canh mũi tên so với text */
  top: 50%;
  transform: translateY(-50%);
  border-left: 8px solid #111;
  /* mũi tên */
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  opacity: 0.8;
}

/* để text nằm trên đường */
.arrow-through {
  position: relative;
}

.flight-price {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(233, 96, 46);
  text-align: right;
}

.flight-price p .pax {
  font-size: 0.8rem;
  color: #000;
  font-weight: normal;
}

.choose-flight {
  text-align: right;
  padding: 0.6em 0;
}

.choose-flight button {
  font-size: 1rem;
  color: white;
  background-color: rgb(1, 148, 243);
  font-weight: bold;
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 5px;
}