* {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid blue; */
  font-size: 22px;
  font-weight: 540;
}

.icon {
  padding: 0px;
  margin: 0px;
  border: none;
  width: auto;
  height: 0.7rem;
}

/* site-header................. */
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1px 12px;
  max-width: 1500px;
  margin: 0 auto;
}

.logo-image {
  width: 135px;
  height: 60px;
}

.logo-image img {
  width: auto;
  height: 95%;
}

.site-option {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  place-items: center;
  padding: 10px 20px;
}

.site-option>* {
  box-sizing: border-box;
  height: 100%;
  place-content: center;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
}

.site-option>*:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.log-in {
  border: 2px solid rgb(1, 148, 243);
}

.register {
  background-color: rgb(1, 148, 243);
  color: white;
  font-weight: bold;
}

.register:hover {
  background-color: rgb(102, 98, 228);
  color: white;
}

/* site-main................. */